@font-face {
  font-family: Oswald;
  src: url("@/styles/typographs/Oswald-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Oswald, sans-serif;
  color: rgb(190, 190, 190);
  background: rgba(40, 39, 39, 1);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 0.2rem;
  font-family: Oswald, serif;
  border-radius: 5px;
  border:1px solid #000201;
  font-size: 1.1rem;
  margin-top: max(3.4rem);
  max-width: 20rem;
  display: flex;
}

.back-btn {
  background: #b90505;
  color: #d9d9d9;
  margin-right: 0.5rem;
}

.start-button {
  background: orangered;
  color: #000201;
}

body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-body {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.headline-box {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;

  h1 {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }
}

.info-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  outline: 2px solid rgb(190, 190, 190);
  border-radius: 10px;
  padding: 0.4rem;
}
